@font-face {
    font-family: 'Mason Serif Regular';
    src: url('fonts/mason-regular-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDINTextCondPro-Bold';
    src: url('fonts/PFDINTextCondPro-Bold-subset.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


body{
    font-family: 'Mason Serif Regular', serif;
    height: 100%; 
    width: 100%;
    margin: 0; /* Usuwa domyślne marginesy */
    padding: 0; /* Usuwa domyślne paddingi */
    display: flex;
    background-color: rgb(20, 20, 20);
}

#mapid {
    background-color: rgb(20, 20, 20);
    position: absolute; 
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.container {
    position: fixed;
    left: 0;
    top: 10px;
    display: flex;
    align-items: flex-start;
    opacity: 90%;
    
}

.hideable-div {
    display: flex;
    flex-direction: column;
    width: 26vw;
    height: 95vh;
    background: #2a2b2a;
    transition: transform 0.3s ease-in-out;
    color: #b8ac42;
    padding: 5px;
    overflow: visible;
    border-radius: 10px;
    /*opacity: 1;*/
}

.container.collapsed .hideable-div {
    transform: translateX(-110%);
}

.toggle-button {
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
    background: #2a2b2a;
    color: #b8ac42;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
    padding: 5px 10px;
    text-align: center;
}
.text-box{
    margin: 15px;
    margin-bottom: 5px; /* Dodaje 5px marginesu na dole każdego text-box */
    border-bottom: 2px solid #d8d3a9; /* Żółta linia pomiędzy boxami */
}

.text-box:last-child {
    border-bottom: none; /* Usuwa linię na dole ostatniego text-box, aby nie było dodatkowej linii na końcu */
}

.content-box{
    display: flex;
    width: 100%;
    overflow-y: auto;
    padding-top: 5px;
    border-bottom: 2px solid #b4ae74;
    border-top: 2px solid #b4ae74;
    height: 85vh;
}

.tabs {
    display: flex;
    flex-direction: column;
    width: 140px; 
    overflow-y: auto; 
}

.tab {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 1px 5px 1px 5px;
    cursor: pointer;
    white-space: nowrap; /* Zapobiega łamaniu tekstu w zakładkach */
    overflow: hidden; /* Ukrywa tekst wykraczający poza szerokość zakładki */
    font-family: 'Mason Serif Regular', serif;
    font-weight: bold;
    font-size: 16px;    
}

.tab:hover {
    background-color: #666;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Treść zajmuje dostępną przestrzeń */
    overflow-y: auto; /* Umożliwia przewijanie treści, jeśli przekracza wysokość */
}

.content::-webkit-scrollbar {
    width: 12px; /* szerokość paska przewijania */
}

.content::-webkit-scrollbar-track {
    background: darkgray; /* ciemnoszare tło paska przewijania */
    border-radius: 10px; /* zaokrąglenie narożników ścieżki przewijania */
}

.content::-webkit-scrollbar-thumb {
    background-color: rgb(87, 87, 84); /* żółty kolor przycisku przewijania */
    border-radius: 10px; /* zaokrąglenie przycisku przewijania */
    border: 3px solid darkgray; /* opcjonalne: ciemnoszara ramka dookoła żółtego przycisku */
}

.right-feature {
    position: fixed;
    right: 0;
    top: 10px;
    display: flex;
    align-items: flex-start;
    background-color: #2a2b2a;
    width: 4vw;
    height: 29vh;
    border-radius: 10px; 
    margin-right: 5px;
    opacity: 0.85;
    
}

.right-content {
    display: none; /* Domyślnie ukryte */
    position: absolute;
    right: 100%; /* Umieszcza okienka bezpośrednio po lewej stronie przycisków */
    top: 0;
    width: 150px;
    background: #2a2b2a;
    color: #b8ac42;
    padding: 5px;
    margin-right: 10px;
    font-family: 'PFDINTextCondPro-Bold', sans-serif;
    text-align: center;
}

.right-content a {
    display: inline-block; /* Aby można było nadać padding i inne właściwości blokowe */
    background-color: rgb(71, 71, 71); /* Szare tło */
    color: #b8ac42; /* Żółty tekst */
    border: 2px solid #b8ac42; /* Żółte obramowanie */
    padding: 5px 10px; /* Odstępy wewnątrz linków */
    text-decoration: none; /* Usuwa podkreślenie linku */
    margin: 5px 5px 15px 5px; /* Margines wokół linków */
    font-size: 18px;
}


.right-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; /* Aby przyciski były wyrównane do prawej */
    margin-top: 5px;
}
.right-buttons hr{
    width: 80%;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 3px;
}

.right-toggle-button {
    cursor: pointer;
    
}

#rightToggleButton {
    background-image: url(../images/pfp-icon.png); /* Ścieżka do obrazka */
    background-size: cover; /* Dostosowanie obrazka do rozmiaru przycisku */
    width: 40px; /* Szerokość przycisku */
    height: 40px; /* Wysokość przycisku */
    border: none; /* Usunięcie ramki */
    padding: 0; /* Usunięcie paddingu */
    outline: none; /* Usunięcie obrysu, który pojawia się podczas fokusu */
    border-radius: 50%; 
    background-color: #d1c23b;  
    position: relative; 
    margin: 5px;
    
}

#secondRightToggleButton{
    background-image: url(../images/map-pin.png); /* Ścieżka do obrazka */
    background-size: cover; /* Dostosowanie obrazka do rozmiaru przycisku */
    width: 40px; /* Szerokość przycisku */
    height: 40px; /* Wysokość przycisku */
    border: none; /* Usunięcie ramki */
    padding: 0; /* Usunięcie paddingu */
    outline: none; /* Usunięcie obrysu, który pojawia się podczas fokusu */
    border-radius: 50%; 
    background-color: rgb(177, 172, 172); 
    position: relative; 
    margin: 5px;
}

#thirdRightToggleButton{
    background-image: url(../images/custom-route.png); /* Ścieżka do obrazka */
    background-size: cover; /* Dostosowanie obrazka do rozmiaru przycisku */
    width: 40px; /* Szerokość przycisku */
    height: 40px; /* Wysokość przycisku */
    border: none; /* Usunięcie ramki */
    padding: 0; /* Usunięcie paddingu */
    outline: none; /* Usunięcie obrysu, który pojawia się podczas fokusu */
    border-radius: 50%; 
    background-color: rgb(177, 172, 172); 
    position: relative; 
    margin: 5px;
}

.tooltip {
    position: absolute;
    top: 50%; /* Umieszczenie dymka na środku wysokości przycisku */
    right: 100%; /* Umieszczenie po lewej stronie przycisku */
    transform: translateY(-50%); /* Precyzyjne centrowanie w pionie */
    background-color: rgb(20, 20, 20);
    color: #c2b540;
    padding: 5px 10px;
    border-radius: 6px;
    visibility: hidden; /* Ukrycie domyślnie */
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    white-space: nowrap; /* Zapobiega zawijaniu tekstu */
    margin-right: 10px; /* Dodatkowy margines od przycisku */
}

.right-toggle-button:hover .tooltip {
    visibility: visible; /* Pokaż dymek przy najechaniu */
    opacity: 1; /* Zmiana przejrzystości */
}

#logo-image {
    display: flex;
    justify-content: center; /* Wyśrodkowanie obrazu w poziomie */
    margin-top: 5px; /* Opcjonalnie, dodaje odstęp na górze */
    margin-bottom: 5px; /* Opcjonalnie, dodaje odstęp na dole */
    border-bottom: 2px solid #b4ae74;
}

#image1{
    width:380px; 
    height: 150px;
}
#maps{
    padding: 5px;
    margin-top: 5px; /* Opcjonalnie, dodaje odstęp na górze */
    margin-bottom: 10px; /* Opcjonalnie, dodaje odstęp na dole */
    border-bottom: 2px solid #b4ae74; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Wyśrodkowanie dzieci w poziomie */
    text-align: center; /* Wyśrodkowanie tekstu w każdym 'map-entry' */
    width: 100%; /* Dostosuj zgodnie z potrzebami */
    
}
#maps a{
    text-decoration: none;
}

.map-entry {
    background-image: url('../images/map-texture.png'); 
    background-size: cover; 
    width: 8vw; 
    height: 45px; 
    color: black; 
    display: flex;
    font-size: 20px;
    font-weight: bold;
    align-items: center; /* Wyśrodkowanie tekstu w pionie */
    justify-content: center; /* Wyśrodkowanie tekstu w poziomie */
    margin: 10px 5px 10px 5px; /* Odstęp między elementami */
}

.box-content {
    background-color: #5f5d5d; /* Szare tło */
    color: #d1c23b; /* Kolor tekstu */
    border-radius: 8px; /* Zakrąglone rogi */
    padding: 15px; /* Dodatkowy padding wewnątrz box-content */
    margin: 10px; /* Margines zewnętrzny wewnątrz każdego text-box */
    font-family: 'PFDINTextCondPro-Bold', sans-serif; /* Font */
}

.box-content ul {
    padding: 0;
    margin: 0;
}

.box-content li {
    display: flex;
    align-items: center; /* Wyrównanie obrazów i tekstu w pionie */
    margin: 8px 0; /* Margines między elementami listy */
    position: relative; /* Dodane */
    cursor: pointer;
}

.box-content img {
    margin-right: 10px; /* Odstęp między obrazem a tekstem */
    flex-shrink: 0; /* Dodane */
}

.badge {
    width: 20px;
    height: 20px;
    border-radius: 25%; /* Zaokrąglenie badge'a */
    background-color: #3d3d3d; /* Kolor tła badge'a */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-left: auto; /* Dodane - przesuwa badge na prawą stronę */
}

#function-buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dwie równe kolumny */
    gap: 20px; /* Odstęp między przyciskami */
    margin: 5px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    height: 100px;
    width: 80%;
    justify-content: center;
    
}

.hidden-markers {
    text-decoration: line-through;
    opacity: 0.5; 
    cursor: pointer;
}
.function-tab {
    border: #666 2px solid;
    border-radius: 1px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #b8ac42; /* Żółty tekst */
    background-color: transparent; /* Przezroczyste tło */
    padding: 5px; /* Padding 5px */
    cursor: pointer;
    height: 35px;
    text-align: center;
    font-family: 'Mason Serif Regular', serif;
    font-weight: bold;
}

.function-tab img {
    margin-right: 8px; /* Odstęp pomiędzy obrazkiem a tekstem */
    vertical-align: middle; /* Wyrównanie obrazka */
}

.function-tab:hover {
    color: #e7d637; /* Zmiana koloru tekstu na pomarańczowy po najechaniu */
}

.popup {
    display: none; /* Ukryty na starcie */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 25vh;
    color: #b8ac42;
    background-color: #313030;
    border: 1px solid #1a1a1a;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
    text-align: center;
}
.popup a{
    text-decoration: none;
    color: #b8ac42;
}
.popup a:visited{
    text-decoration: none;
    color: #6b6636;
}

/* Styl dla przycisku zamknięcia (X) */
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 26px;
    cursor: pointer;
    color: #b8ac42;
}

.close:hover {
    color: #858150;
}

.custom-select {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 35px;
}

.selected-option {
    border: #666 2px solid;
    border-radius: 1px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #b8ac42; /* Żółty tekst */
    background-color: transparent; /* Przezroczyste tło */
    padding: 5px;
    width: 100%;
    cursor: pointer;
    font-family: 'Mason Serif Regular', serif;
    font-weight: bold;
}

.selected-option::after {
    content: '';
    position: absolute;
    right: 10%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0; /* Strzałka w dół */
    border-color: #b8ac42 transparent transparent transparent;
}

.selected-option.arrow-up::after {
    border-width: 0 5px 5px; /* Strzałka w górę */
    border-color: transparent transparent #b8ac42 transparent;
}

.selected-option img {
    margin-right: 8px;
}

.options {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    max-height: 150px; /* Maksymalna wysokość rozwijanej listy */
    overflow-y: auto; /* Dodaje pionowy pasek przewijania */
    background-color: #222; /* Dopasowanie tła */
    border: #666 2px solid;
    z-index: 1000;
}

.option {
    padding: 5px;
    font-size: 16px;
    color: #b8ac42; /* Żółty tekst */
    background-color: transparent;
    font-family: 'Mason Serif Regular', serif;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.option:hover {
    background-color: #444;
}

.flag-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

